     /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 600px;
        align: center;
        border-radius: 10px;
        margin-left: 25px;
        border: 4px solid #918151;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        border-radius: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 500px;
        width: 390px;
        overflow: auto;
      }

      @media print {
        #map {
          height: 500px;
          margin: 0;
        }
        #right-panel {
          float: none;
          width: auto;
        }
      }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;

}

body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/aNKqAFb/green-grass-under-rays-of-sun-closeup-shallow-dof-raw-video-record_spgnoeh2x__F0000.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: white;
  width: 100%;
}

.jumbotron {
  background: url("http://www.blueskyamusements.com/images/site/template/bkg-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.display-4 {
  font-family: 'Noticia Text', serif;
  color: white;
}

.display-4 n{
  font-family: 'Ruge Boogie', cursive;
}

.lead {
  font-family: 'Noticia Text', serif;
  color: white;
}

.adp {
  background-color: white;
}

.btn {
  margin-top: 10px;
  margin-left: 5px;
}
#user-area {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 10px;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
/* .mdl-textfield__label:after {
  background-color: #0288D1;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #0288D1;
} */
.mdl-button .material-icons {
  top: -1px;
  margin-right: 10px;
  margin-left: 5px;
}

#weather-box {
  border: 4px solid #918151;
  border-radius: 10px;
  margin-left: 25px;
  background: lightblue;
  color: white;
  height: fit-content;
  padding-top: 4px;
}
.input-box {
  background: none;
  border: 1px solid;
}
p {
  font-size: 20px;
  line-height: 20px;
}
.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}
#user-area #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
#user-area #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
  text-align: center;
  color: white;
  background-color: #536dfe;
}
#user-area #user-pic {
  top: 2px;
  width: 33px;
  height: 33px;
  background-size: 33px;
  border-radius: 20px;
}

#parks-view {
  background-color: white;
  border-radius: 10px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
