     /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 600px;
        /* width: 70%; */
        align: center;
        border-radius: 10px;
        margin-left: 25px;
        border: 4px solid #918151;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 500px;
        width: 390px;
        overflow: auto;
      }

      @media print {
        #map {
          height: 500px;
          margin: 0;
        }
        #right-panel {
          float: none;
          width: auto;
        }
      }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;

}

body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/aNKqAFb/green-grass-under-rays-of-sun-closeup-shallow-dof-raw-video-record_spgnoeh2x__F0000.png");
  /* Full height */
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background: url("http://www.blueskyamusements.com/images/site/template/bkg-sky.jpg");
    /* Full height */
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4 {
  font-family: 'Noticia Text', serif;
  color: white;
}

.display-4 n{
  font-family: 'Ruge Boogie', cursive;
}

.lead {
  color: white;
}

.adp {
  background-color: white;
}
#weather-box {
  border: 4px solid #918151;
  border-radius: 10px;
  margin-left: 25px;
  background: lightblue;
  color: white;
  height: fit-content;
  padding-top: 4px;
}
.input-box {
  background: none;
  border: 1px solid;
}
p {
  font-size: 20px;
  line-height: 20px;
}
